[submodule "sql"]
	path = db-data
	url = https://github.com/HGNC/pgnc_db_schema.git
	branch = dev
[submodule "api"]
	path = api
	url = https://github.com/HGNC/pgnc-api.git
[submodule "server"]
	path = angular
	url = https://github.com/HGNC/pgnc-ext-angular.git
[submodule "solr"]
	path = solr
	url = https://github.com/HGNC/pgnc-solr.git
