# DB creds
DB_HOST=pgncdb
DB_PORT=5432
DB_NAME=pgnc
DB_USER=<username>
DB_PASSWORD=<password>
DB_SYNC=false # set to true to sync the database in dev mode
DB_AUTOLOAD_ENTITIES=true

# Solr creds
SOLR_HOST=solr
SOLR_PORT=8983
SOLR_CORE=pgnc

# API
PROFILE_API_KEY=api-key
JWT_SECRET=<secret>
JWT_TOKEN_AUDIENCE=localhost:8080
JWT_TOKEN_ISSUER=localhost:8080
# Below is in seconds so 3600 is = 1 hour
JWT_ACCESS_TOKEN_TTL=3600
# Below is 86400 = to 1 day
JWT_REFRESH_TOKEN_TTL=86400

# MAIL
MAIL_HOST=smtp.mailbox.etc
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>

# Angular
API_USER=<webserver email>
API_PASSWORD=<password>
JWT=<jwt token>