# DEV settings
# ------------
# LOCALHOST_* = ENV variable for the physical machine
# and not the container

# DB
DB_HOST=pgncdb
DB_PORT=5432
LOCALHOST_DB_PORT=5432
DB_NAME=pgnc
DB_USER=pgnc
DB_PASSWORD=<your-password>
DB_SYNC=false # set to true to sync the database in dev mode
DB_AUTOLOAD_ENTITIES=true

# Solr creds
SOLR_HOST=solr
SOLR_PORT=8983
LOCALHOST_SOLR_PORT=8983
SOLR_CORE=pgnc

# SOLR client
SOLR_CLIENT_PORT=3000
LOCALHOST_SOLR_CLIENT_PORT=3000

# API
LOCALHOST_API_PORT=3001
API_PORT=3001
PROFILE_API_KEY=api-key
JWT_SECRET=<secret>
JWT_TOKEN_AUDIENCE=<audience>
JWT_TOKEN_ISSUER=<issuer>
# Below is in seconds so 3600 is = 1 hour
JWT_ACCESS_TOKEN_TTL=3600
# # Below is 86400 = to 1 day
JWT_REFRESH_TOKEN_TTL=86400

# MAIL
MAIL_HOST=smtp.mailbox.etc
SMTP_USERNAME=<username>
SMTP_PASSWORD=<password>

# Angular
API_USER=webserver@email.com
API_PASSWORD=<password>
LOCALHOST_ANGULAR_PORT=4000
ANGULAR_PORT=4000

# NGINX
LOCALHOST_NGINX_PORT=80
NGINX_PORT=80
LOCALHOST_NGINX_SSL_PORT=443
NGINX_SSL_PORT=443

# Letsencrypt
MY_EMAIL=<email>
